# Python virtual environment
.venv/
myenv/
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env
