# Root level submodules - AI Core Components
[submodule "anya-core/dash33"]
    path = anya-core/dash33
    url = git@github.com:botshelomokoka/dash33.git
    branch = main
    update = merge
    fetchRecurseSubmodules = true

[submodule "anya-core/enterprise"]
    path = anya-core/enterprise
    url = git@github.com:botshelomokoka/anya-enterprise.git
    branch = main
    update = merge
    fetchRecurseSubmodules = true

[submodule "anya-core/mobile"]
    path = anya-core/mobile
    url = git@github.com:botshelomokoka/anya-mobile.git
    branch = main
    update = merge
    fetchRecurseSubmodules = true

# Enterprise dependencies
[submodule "anya-core/enterprise/dependencies/web5-rs"]
    path = anya-core/enterprise/dependencies/web5-rs
    url = git@github.com:decentralized-identity/web5-rs.git
    branch = main
    update = merge

# Mobile dependencies
[submodule "anya-core/mobile/dependencies/web5-rs"]
    path = anya-core/mobile/dependencies/web5-rs
    url = git@github.com:decentralized-identity/web5-rs.git
    branch = main
    update = merge

[submodule "anya-core/mobile/dependencies/flutter-rust-bridge"]
    path = anya-core/mobile/dependencies/flutter-rust-bridge
    url = git@github.com:fzyzcjy/flutter_rust_bridge.git
    branch = master
    update = merge
